DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
API_PORT=8787
QWEATHER_API_KEY=your_qweather_api_key
QWEATHER_BASE_URL=https://devapi.qweather.com/v7
QWEATHER_GEO_URL=https://geoapi.qweather.com/v2
